body {
    background-color: antiquewhite;
}

.ui-slider#slider {
    margin-left: 8px;
    width: 300px;
}

.tooltip {
    position: absolute;
    border: 1px solid black;
    border-radius: 4px;
    pointer-events: none;
    background-color: beige;
}

.highlight {
    stroke-width: 3px;
}

.dim {
    opacity: 0.2;
}

#container {
    width: fit-content;
}

#controlsContainer {
}

#mainContainer {
    display: flex;
    align-items: flex-start;
}

#subplotMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sliderContainer {
    display: flex;
    gap: 2rem;
}

.mainPlotLegend {
    width: 100px;
}